@font-face {
  font-family: 'Sanford';
  src: local('Sanford'), url(./assets/sanford.ttf) format('ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  background: #FDFDF0;
  color: #0e1647;
  overflow: hidden;
  font-family: "Sanford", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas > div {
  z-index: 1;
}

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}